body {
  background: url(img/tony-webster-97532.jpg);
  background-size: cover;
  background-position: center;
  font-family: 'Lato', sans-serif;
  color: #FFFFFF;
}

#content {
  padding-top: 15%;
  text-align: center;
  text-shadow: 2px 1px #343434;
}

h1 {
  font-weight: bold;
  font-size: 3.5em;
  letter-spacing: 2px;
}

hr {
  width: 33%;
  margin-top: 25px;
  margin-bottom: 25px;
}
